/*Google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Poppins:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*Colors*/

:root {
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
}

/*Body styles*/

.body {
    height: 100vh;
    background: var(--Violet) url("../img/bg-desktop.svg") no-repeat;
    background-size: 85%;
    background-position: -2vw -3vh;
    font-family: 'Open Sans', sans-serif;
}

/*Header styles*/

.header {
    padding-left: 5.8rem;
    padding-top: 2rem;
}


/*Hero section styles*/

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7.5rem;
}

.hero__img {
    padding-left: 5.8rem;
    width: 100%;
}

.hero__information {
    align-self: flex-start;
    padding-left: 3rem;
    padding-top: 5rem;
    width: 100%;
    height: auto;
}

.hero__title {
    font-family: 'Poppins', sans-serif;
    color: #F9F6FF;
}

.hero__paragraph {
    color: #F7EAFF;
    text-align: left;
    width: 51%;
}

.hero__btn {
    box-shadow: -1px 4px 23px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 4px 23px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 4px 23px -3px rgba(0, 0, 0, 0.75);
    color: var(--Violet);
    margin-top: 2rem;
    padding: 1rem 3.5rem;
    border: none;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    display: flex;
    justify-content: center;
}

.hero__btn:hover {
    cursor: pointer;
    background-color: #E980E7;
    color: #fff;
}

/*Footer styles*/

.footer {
    display: flex;
    justify-content: flex-end;
    color: #fff;
    padding-right: 5rem;
}

.footer__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 1rem;
    margin-left: 1rem;
    border: 1px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.footer__icon:hover {
    cursor: pointer;
    color: #E980E7;
    border: 1px solid #E980E7;
}

/*Responsive*/

/*-------------------------------------------------1440px-----------------------------------------------------------*/



@media (max-width:1440px) {
    .body {
        background-size: cover;
        background-position: -5vw 0;
    }
}

/*-------------------------------------------------1200px-----------------------------------------------------------*/

@media (max-width:1200px) {

    .body {
        background-position: -10vw;
    }

    .hero__img {
        padding-left: 2.5rem;
    }

    .hero__information {
        padding-right: 3rem;
    }

    .hero__title {
        font-size: 1.5rem;
    }

    .hero__paragraph {
        width: 100%;
        font-size: 1rem;
    }
}

/*-------------------------------------------------1024px-----------------------------------------------------------*/

@media (max-width:1024px) {

    .body {
        background-position: -12vw;

    }

    .hero__img {
        width: 70%;
    }

    .hero__information {
        padding-left: 1rem;
    }

    .hero__img {
        padding-left: 1rem;
    }

    .hero__title {
        font-size: 1.3rem;
    }

}

/*-------------------------------------------------900px-------------------------------------------*/

@media (max-width:900px) {
    .hero__img {
        width: 60%;
    }
}

/*-------------------------------------------------768px-----------------------------------------------------------*/

@media (max-width: 768px) {


    .body {
        background-image: url("../img/bg-mobile.svg");
        background-position: 0vw -9vh;
        background-size: 100%;
    }

    .hero {
        flex-direction: column;
        padding-top: 2rem;
    }

    .hero__img {
        width: 80%;
    }

    .hero__information {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 3rem;

    }

    .hero__title {
        text-align: center;
    }

    .hero__paragraph {
        width: 90%;
        text-align: center;
    }

    .hero__btn {
        width: 40%;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-right: 3rem;
    }
}

/*-------------------------------------------------600px-----------------------------------------------------------*/

@media (max-width: 600px) {

    .body {
        background-size: 100%;
        background-position: 0vw -6vh;
    }

    .header__logo {
        width: 30%;
    }

    .hero__paragraph {
        width: 56%;
    }
}

/*-------------------------------------------------480px-----------------------------------------------------------*/

@media (max-width:480px) {
    .body {
        background-position: 0 -4vh;
    }

    .hero__img {
        width: 80%;
    }

    .hero__paragraph {
        width: 72%;
    }

    .hero__btn {
        width: 70%;
    }
}

/*------------------------------------425px----------------------------------*/

@media (max-width:425px) {

    .body {
        background-position: 0vw 0vh;
    }

    .header {
        padding-left: 3rem;
    }

    .header__logo {
        width: 50%;
    }

    .hero__information {
        margin-top: 0;
    }

    .hero__paragraph {
        width: 85%;
    }
}

/*-------------------------------------------------320px-----------------------------------------------------------*/

@media (max-width:320px) {

    .hero__img {
        width: 88%;
    }

    .hero__information{
        padding: 0;
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .hero__paragraph{
        font-size: 15px;
        width: 100%;
    }

    .hero__btn {
        width: 80%;
    }

    .footer {
        padding-left: 1rem;
    }

}